
html{
    height: 100%;
    background-color: cyan;
}
#container{
    height: 400px;
    width:600px;
    background-color: BLUE;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

#score{
    background-color: yellow;
    color: red;
    padding: 11px;
    position: absolute;
    right: 500px;
}

#correct{
    position: absolute;
    left: 280px;
    background-color: green;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 280px;
    background-color: red;
    color: white;
    padding: 11px;
    display: none;
}

#question{
    width: 450px;
    height: 125px;
    margin: 50px auto 10px auto;
    background-color: magenta;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: grey;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
}

#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
}

.box:active, #startreset:active{
    background-color: darkgreen;
    color: white;
    top: 4px;
}
#box4{
    margin-right: 0;   
}

#startreset{
    width: 78px;
    padding: 10px;
    background-color: red;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    position: relative; 
}

#timeremaining{

    width: 250px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 550px;
    background-color: palegreen;
    border-radius: 3px;
}

#gameOver{
    height: 200px;
    width: 500px;
    background: red;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
   
    display: none;    
}